.services-content h2,h3{
text-align:justify;
line-height: 1.5rem;
color: black;
font-weight: 400;
font-size: 18px;
}
.services-content h2{
text-align:justify;
line-height: 1.5rem;
color: black;
font-weight: 600;
font-size: 18px;
}

body{
    font-family: 'ROBOTO', sans-serif;
}
.top-bar .links li {
   
    font-size: 16px;
}
.header-top-right .header-top-button {
    
    font-size: 16px;
}
.bgimage,.bgimage h1 {
   
    line-height: 50px;
    
}

.bgimage{
	height: auto;
}


