{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}

 <!-- Featured Section Start -->
    <section class="featured-bg section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title">Auction</h2>
<!--              <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>-->
            </div>
          </div>
        </div>


<!--Another code-->
<div class="container-fluid">
<div class="how-section1">
                    <div class="row">
                        <div class="col-md-3 how-img">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_08.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <h4>Why Auction?</h4><br>
<!--                                        <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>-->
                        <h5 class="text-muted">The initial reaction to auction for sellers is, “It is only for desperate people” or “I am not giving my house away for less” or “That’s only for run-down properties”, but the fact is - auction offers a secure method of selling a property and provides a platform for exposure whilst you retain control of the complete process. All properties are sold subject to a reserve price. The property won’t sell for less than the agreed amount (i.e. reserve price) which means you are in control of the price you accept. We have partnered up with an agent with over 10 years of auction experience and an extensive partner agent network; we can ensure maximum exposure on a national scale for your property.</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 how-img">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/3D_illustration_image_of_a_gavel_-_auction_hammer_-_free_to_use_in_your_projects_08.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="col-md-9">
                            <h4>Buying and Selling at Online Auction</h4><br>
<!--                                        <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>-->
                        <h5 class="text-muted">There are many advantages to selling at online auction, it’s quick – the whole process takes around four weeks, there’s
                        no chain and when the countdown comes to an end and reserve price is achieved your property is sold.</br></br>
                        There are several ways to purchase a property in our online auction route. If at all possible, we advise all buyers to
                        register first and login to their suite, and bid live online. However, we offer a number of different ways to bid. In some
                        circumstances it may also be possible to submit an offer prior to auction or post-auction should a lot fail to reach its
                        reserve price.</h5>
                        </div>
                    </div>

    </div>
  </div>
<hr>
{% endblock %}