{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}
Cookie Policy
{% endblock %}
{% block content %}
<div class="container ">
            <div class="inner-heading">
                <h2>Cookie <span>Policy </span></h2><br>
            </div>
            <div class="faq-bg-box">
                <div class="seller-story-cont">
                    <p>Our cookie policy</p>

                    <h5>What are cookies?</h5>

                    <p>Cookies are small text files that reside on your computer or other devices and allow websites and other associated services to recognise your devices.</p>

                    <p>They help companies to do a number of things, including:</p>

                    <h5>Enable functionality to improve your experience</h5>

                    <p>For instance, if our site knows you completed a form but forgot to press the ‘send’ button, we can remind you when using other pages on the site.  If we notice that you are browsing certain sections of our site, we might want to use that information to offer a pop-up with relevant information for you.</p>

                    <p>Equally, if you have asked us to remember your preference for a particular product or service, we can use the relevant cookie to make sure we know it is you on our site next time you visit, and ensure your preferences are recognised.</p>

                    <h5>Allowing us to improve our site performance</h5>

                    <p>Knowing how many customers are visiting our site, or which pages are being used, or which functions, allows us to continually improve our site. Cookies, and their associated applications, offer performance measurement functionality of this sort to website owners.</p>

                    <p>Like most sites we use third party tools to do this, which means that we may ask other companies to leave and recognise cookies on your device – we carefully control who these companies are and why that information needs to be collected.</p>

                    <h5>Online advertising</h5>

                    <p>As described in section 3 above, cookies are used to allow connectivity between advertising services and the owners of websites and applications.  This ensures that advertisers can drive efficiency by only advertising to consumers that may be interested in their services and allows consumers to avoid irrelevant advertising and gain a more personalised experience of digital services.</p>

                    <h5>How do I control what cookies are being used on my device?</h5>

                    <p>When a site asks for your permission to use cookies you have an option to either accept, leave the site, or continue browsing.  If you do not accept cookies that site should avoid using any cookies that are not strictly necessary to ensure the site you are viewing functions properly.</p>

                    <p>All sites must also allow you to easily opt out of cookie collection and you control your consent below:</p>

                   <p>
                       <input id="csconsentcheckbox" type="checkbox">  <label for="csconsentcheckbox">I agree with Cookie Policy</label>
                   </p>

                   <p>
                    You can find a lot more information on cookies here, allaboutcookies.org
                   </p>


                    <p>NB – some site functionality will not work without some access to cookies, on occasion your experience will be less effective, and some services may still use cookies regardless of settings – for instance Banks have security needs that make cookies very useful and help to protect your accounts.</p>

                    <div class="advice-cont">
                        <span class="adivce-txt">
                            <!--   Viewings Advice:	-->
                        </span>
                    </div>

                </div>

                <div class="advice-cont">
                    <span class="adivce-txt">
                    </span>
                </div>
            </div>
        </div>
{% endblock %}