{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}
Sell
{% endblock %}
{% block content %}

<!--Title start-->
 <section class="services section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title">Sellers Guide</h2>
              <div class="services-content">
          <h3>
       Finding the right estate agent to manage the sale of your most valuable possession can make a huge difference in achieving your desired price. Whether you wish to sell your off-plan investments or put your home on the market, there is a lot to consider. We have compiled a Property Hub’s Sellers guide to help you and to explain the process of selling your property hassle-free and quick.<br><br>

To ensure you get the best return on your investment or home here are the steps to follow:<br><br>

              <h2>Obtain current market appraisal</h2><br>

<h3>Before you put your property up for sale, it is vital that you know its true value. This will help attract more viewers and get better offers on the property. The first correct step will help you to get the best possible price for your property.<br><br>

The process of finding out the value of your property can be long and drawn out. Indeed, it is never simply enough to look at the sold prices of other homes in the area as there are many other factors that we must consider when providing you with an achievable price such as, wider market fluctuations, the unique features of your home and the area’s amenities, potential in the property, rental yield, tenure, layout, currently listed properties which are the immediate competition to your property when it arrives in the market, and much more. The process of valuing off-plan property is even more complex.<br><br>

As expert property brokers, we use our vast knowledge and experience of real estate to help you get the best from your investment. With Property Hub, your assets are in safe hands.<br><br>

We can advise and support you with the key elements; value, presentation and exposure. To achieve a full market appraisal of your property with no obligation, please call us on 0208 459 3333, or fill out our enquiry form.   </h3>
          </h3>
        </div>
            </div>
          </div>
        </div>
      </div>
 </section>
<!--Title end-->



 <!-- Our Packages Table -->
 <section id="intro" class="section-intro">
      <div class="search-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="intro-title">Our Packages</h2>
              <h4 class="intro-sub-heading">Please call us for detailed valuation at <span><i class="lni lni-phone"></i> 0203 3939299 </span>and list your property for 1% Incl VAT</h4>
                <a href="{% url 'contact' %}" class="btn btn-danger btn-lg">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}
