{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}
privacy-policy-and-notice
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
			<div class="col-sm-12">
				<h1 class="page-header">Privacy Policy &amp; Notice</h1><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h1>Let’s understand the GDPR Introduction</h1>

<h2>The General Data Protection Regulation (GDPR)</h2>
<p>From the 25th May 2018 all companies processing the personal data of EU citizens will need to comply with the GDPR. These
    new data regulations bring with them a number of new obligations, as well as the potential of hefty fines for those who
    do not comply.</p>
<p>What’s more concerning is that in a survey carried out by YouGov. in 2017, a staggering 62% of UK businesses admitted they
    did now know what the GDPR was. With this in-mind, we have created this short guide as an insight in to the GDPR with
    some key information and considerations.</p>

<h2>What does GDPR apply to?</h2>
<h3>Personal data</h3>
<p> The GDPR applies to &lsquo;personal data’&rsquo; which is defined by the ICO as &ldquo;any information relating to an identifiable person who
    can be directly or indirectly identified in particular by reference to an identifier.&rdquo;</p>
<p>This definition relates to personal data, including name, identification number, location data or online identifier, reflecting
    changes in technology and the way organisations collect information about people.</p>
<p>The ICO also write that “The GDPR applies to both automated personal data and to manual filing systems where personal data
    are accessible according to specific criteria. This could include chronologically ordered sets of manual records containing
    personal data.</p>
<p>Personal data that has been pseudonymised – eg key-coded – can fall within the scope of the GDPR depending on how difficult
    it is to &ldquo;attribute the pseudonym to a particular individual.&rdquo;</p>
<h3>Sensitive personal data</h3>
<p> The GDPR refers to sensitive personal data as “special categories of personal data”. To learn more about these categories,
    visit www.ico.org.uk and see articles 9 and 10.</p>
<p>
    <strong> Under GDPR compliance, our company’s policy is as below : </strong>
</p>

<h2>Our Commitment</h2>
<p><strong>Property Hub Limited</strong> (‘we’ or ‘us’ or ‘our’) are committed to ensuring the security and protection of the personal information
    that we process, and to provide a compliant and consistent approach to data protection. We have always had a robust and
    effective data protection program in place which complies with existing law and abides by the data protection principles.
    However, we recognise our obligations in updating and expanding this program to meet the demands of the GDPR and the
<strong>[UK’s Data Protection
    <a href="https://ico.org.uk/media/1624219/preparing-for-the-gdpr-12-steps.pdf" target="_blank" rel="nofollow">https://ico.org.uk/media/1624219/preparing-for-the-gdpr-12-steps.pdf</a> / Information Commissioner’s
    Office (ICO)]</strong>.
</p>
<p><strong>Property Hub Limited</strong> are dedicated to safeguarding the personal information under our remit and in developing a data protection
    regime that is effective, fit for purpose and demonstrates an understanding of, and appreciation for the new Regulation.
    Our preparation and objectives for GDPR compliance have been summarised in this statement and include the development
    and implementation of new data protection roles, policies, procedures, controls and measures to ensure maximum and ongoing
    compliance.</p>

<h2>How We are Preparing for the GDPR?</h2>
<p>GDPR is an update to the current Data Protection Act. Coming into force on 25th May 2018, it provides individuals with a
    greater control and transparency over who uses their data, and how. Following the introduction of GDPR, all personal
    data collected by a business must be done so with explicit consent by the data subject via a straight forward, no non-sense
    opt in method (this means no pre-ticked opt-in boxes or other methods of default consent.)</p>
<p>To help with GDPR, the ICO (Information Commissioner’s Office) have created an in-depth guide on how businesses should prepare
    for compliance following the regulation update. This guide explains the provisions of the GDPR to help organisations
    comply with its requirements. It is created for, and particularly important to those who have day-to-day responsibility
    for data protection.</p>
<p><strong>Property Hub Limited</strong> already have a consistent level of data protection and security across our organization, however it
    is our aim to be fully compliant with the GDPR by <strong>[25th May 2018]. Our preparation includes: -</strong></p>
    <ul>
<li><strong>Information Audit</strong> - carrying out a company-wide information audit to identify and assess what personal information we hold,
    where it comes from, how and why it is processed and if and to whom it is disclosed;</li>
<li><strong>Policies &amp; Procedures</strong> - ICO / GDPR new data protection policies and procedures to meet the requirements and standards of
    the GDPR and any relevant data protection laws, including: -
    <ul>
<li><strong>Data Protection</strong> – our main policy and procedure document for data protection has been overhauled to meet the standards
    and requirements of the GDPR. Accountability and governance measures are in place to ensure that we understand and adequately
    disseminate and evidence our obligations and responsibilities; with a dedicated focus on privacy by design and the rights
    of individuals.</li>
<li><strong>Data Retention &amp; Erasure</strong> – we have updated our retention policy and schedule to ensure that we meet the ‘data minimisation’
    and ‘storage limitation’ principles and that personal information is stored, archived and destroyed compliantly and ethically.
    We have dedicated erasure procedures in place to meet the new ‘Right to Erasure’ obligation and are aware of when this
    and other data subject’s rights apply; along with any exemptions, response timeframes and notification responsibilities.</li>
<li><strong>Data Breaches</strong> – our breach procedures ensure that we have safeguards and measures in place to identify, assess, investigate
    and report any personal data breach at the earliest possible time. Our procedures are robust and have been disseminated
    to all employees, making them aware of the reporting lines and steps to follow. </li>
<li><strong>International Data Transfers &amp; Third-Party Disclosures</strong> – where Property Hub Limited stores or transfers personal information
    outside the EU, we have robust procedures and safeguarding measures in place to secure, encrypt and maintain the integrity
    of the data. Our procedures include a continual review of the countries with sufficient adequacy decisions, as well as
    provisions for binding corporate rules; standard data protection clauses or approved codes of conduct for those countries
    without. We carry out strict due diligence checks with all recipients of personal data to assess and verify that they
    have appropriate safeguards in place to protect the information, ensure enforceable data subject rights and have effective
    legal remedies for data subjects where applicable.</li>
<li><strong>Subject Access Request (SAR)</strong> – we have revised our SAR procedures to accommodate the revised 30-day timeframe for providing
    the requested information and for making this provision free of charge. Our new procedures detail how to verify the data
    subject, what steps to take for processing an access request, what exemptions apply and a suite of response templates
    to ensure that communications with data subjects are compliant, consistent and adequate.</li>
    </ul>
    </li>
<li><strong>Legal Basis for Processing</strong> - we are reviewing all processing activities to identify the legal basis for processing and
    ensuring that each basis is appropriate for the activity it relates to. Where applicable, we also maintain records of
    our processing activities, ensuring that our obligations under Article 30 of the GDPR and Schedule 1 of the Data Protection
    Bill are met.</li>
<li><strong>Privacy Notice/Policy</strong> – we have revised our Privacy Notice(s) to comply with the GDPR, ensuring that all individuals whose
    personal information we process have been informed of why we need it, how it is used, what their rights are, who the
    information is disclosed to and what safeguarding measures are in place to protect their information.</li>
<li><strong>Obtaining Consent</strong> - we have revised our consent mechanisms for obtaining personal data, ensuring that individuals understand
    what they are providing, why and how we use it and giving clear, defined ways to consent to us processing their information.
    We have developed stringent processes for recording consent, making sure that we can evidence an affirmative opt-in,
    along with time and date records; and an easy to see and access way to withdraw consent at any time.</li>
<li><strong>Direct Marketing</strong> - we have revised the wording and processes for direct marketing, including clear opt-in mechanisms for
    marketing subscriptions; a clear notice and method for opting out and providing unsubscribe features on all subsequent
    marketing materials.</li>
<li><strong>Data Protection Impact Assessments (DPIA)</strong> – where we process personal information that is considered high risk, involves
    large scale processing or includes special category/criminal conviction data; we have developed stringent procedures
    and assessment templates for carrying out impact assessments that comply fully with the GDPR’s Article 35 requirements.
    We have implemented documentation processes that record each assessment, allow us to rate the risk posed by the processing
    activity and implement mitigating measures to reduce the risk posed to the data subject(s).</li>
<li><strong>Processor Agreements</strong> – where we use any third-party to process personal information on our behalf (i.e. Payroll, Recruitment,
    Hosting etc), we have drafted compliant Processor Agreements and due diligence procedures for ensuring that they (as
    well as we), meet and understand their/our GDPR obligations. These measures include initial and ongoing reviews of the
    service provided, the necessity of the processing activity, the technical and organisational measures in place and compliance
    with the GDPR.</li>
<li><strong>Special Categories Data</strong> - where we obtain and process any special category information, we do so in complete compliance
    with the Article 9 requirements and have high-level encryptions and protections on all such data. Special category data
    is only processed where necessary and is only processed where we have first identified the appropriate Article 9(2) basis
    or the Data Protection Bill Schedule 1 condition. Where we rely on consent for processing, this is explicit and is verified
    by a signature, with the right to modify or remove consent being clearly signposted.</li>
    </ul>

<h2>Data Subject Rights</h2>
<p>In addition to the policies and procedures mentioned above that ensure individuals can enforce their data protection rights,
    we provide easy to access information via [our website, in the office, during induction etc] of an individual’s right
    to access any personal information that <strong>Property Hub Limited</strong> processes about them and to request information about: -</p>
    <ul>
<li>What personal data we hold about them;</li>
<li>The purposes of the processing;</li>
<li>The categories of personal data concerned</li>
<li>The recipients to whom the personal data has/will be disclosed;</li>
<li>How long we intend to store your personal data for;</li>
<li>If we did not collect the data directly from them, information about the source;</li>
<li>The right to have incomplete or inaccurate data about them corrected or completed and the process for requesting this;</li>
<li>The right to request erasure of personal data (where applicable) or to restrict processing in accordance with data protection
    laws, as well as to object to any direct marketing from us and to be informed about any automated decision-making that
    we use;</li>
<li>The right to lodge a complaint or seek judicial remedy and who to contact in such instances.</li>
    </ul>

<h2>Information Security &amp; Technical and Organisational Measures</h2>
<p><strong>Property Hub Limited</strong> takes the privacy and security of individuals and their personal information very seriously and take
    every reasonable measure and precaution to protect and secure the personal data that we process. We have robust information
    security policies and procedures in place to protect personal information from unauthorised access, alteration, disclosure
    or destruction and have several layers of security measures, including: -</p>
  <ul>
<li>SSL</li>
<li>access controls</li>
<li>password policy</li>
<li>encryptions</li>
<li>pseudonymisation</li>
<li>practices</li>
<li>restriction</li>
<li>IT</li>
<li>authentication</li>
  </ul>



<h2>GDPR GLOSSARY</h2>
<p><strong>Biometric Data</strong> - any personal data relating to the physical, physiological, or behavioral characteristics of an individual
    which allows their unique identification.</p>
   <p><strong>Consent</strong> - freely given, specific, informed and explicit consent by statement
    or action signifying agreement to the processing of their personal data.</p>
    <p><strong>Data Concerning Health</strong> - any personal data related
    to the physical or mental health of an individual or the provision of health services to them.</p>
    <p><strong>Data Controller</strong> - the entity
    that determines the purposes, conditions and means of the processing of personal data.</p>
    <p><strong>Data Erasure</strong> - also known as the
    Right to be Forgotten, it entitles the data subject to have the data controller erase his/her personal data, cease further
    dissemination of the data, and potentially have third parties cease processing of the data.</p>
    <p><strong>Data Portability</strong> - the requirement
    for controllers to provide the data subject with a copy of his or her data in a format that allows for easy use with
    another controller.</p>
    <p><strong>Data Processor</strong> - the entity that processes data on behalf of the Data Controller</p>
    <p><strong>Data Protection Authority</strong>
    - national authorities tasked with the protection of data and privacy as well as monitoring and enforcement of the data
    protection regulations within the Union</p>
    <p><strong>Data Protection Officer</strong> - an expert on data privacy who works independently to
    ensure that an entity is adhering to the policies and procedures set forth in the GDPR.</p>
    <p><strong>Data Subject</strong>
    - a natural person whose personal data is processed by a controller or processor.</p>
    <p><strong>Delegated Acts</strong> - non-legislative acts
    enacted in order to supplement existing legislation and provide criteria or clarity</p>
    <p><strong>Derogation</strong> - an exemption from a
    law.</p>
    <p><strong>Encrypted Data</strong> - personal data that is protected through technological measures to ensure that the data is only accessible/readable
    by those with specified access.</p>
    <p><strong>Enterprise</strong> - any entity engaged in economic activity, regardless of legal form, including
    persons, partnerships, associations, etc.</p>
    <p><strong>Filing System</strong> - any specific set of personal data that is accessible according
    to specific criteria, or able to be queried.</p>
    <p><strong>Genetic Data</strong> - data concerning the characteristics of an individual which
    are inherited or acquired which give unique information about the health or physiology of the individual.</p>
    <p><strong>Group of Undertakings</strong>
    - a controlling undertaking and its controlled undertakings.</p>
    <p><strong>Legitimate Interest</strong> - is one of the six lawful bases for
    processing personal data. You must have a lawful basis in order to process personal data in line with the ‘lawfulness,
    fairness and transparency’ principle.</p>
    <p><strong>Main Establishment</strong> - the place within the Union that the main decisions surrounding
    data processing are made; with regard to the processor.</p>
    <p><strong>Personal Data</strong> - any information related to a natural person or
    ‘Data Subject’, that can be used to directly or indirectly identify the person.</p>
    <p><strong>Personal Data Breach</strong> - a breach of security
    leading to the accidental or unlawful access to, destruction, misuse, etc. of personal data.</p>
    <p><strong>Privacy by Design</strong> - a principle
    that calls for the inclusion of data protection from the onset of the designing of systems, rather than an addition.</p>
    <p><strong>Privacy
    Impact Assessment</strong> - a tool used to identify and reduce the privacy risks of entities by analysing the personal data that
    are processed and the policies in place to protect the data.</p>
    <p><strong>Processing</strong> - any operation performed on personal data, whether
    or not by automated means, including collection, use, recording, etc.</p>
    <p><strong>Profiling</strong> - any automated processing of personal
    data intended to evaluate, analyse, or predict data subject behaviour.</p>
    <p><strong>Pseudonymisation</strong> - the processing of personal data
    such that it can no longer be attributed to a single data subject without the use of additional data, so long as said
    additional data stays separate to ensure non-attribution.</p>
    <p><strong>Recipient</strong> - entity to which the personal data are disclosed.</p>
    <p><strong>Regulation</strong> - a binding legislative act that must be applied in its entirety across the Union.</p>
        <p><strong>Representative</strong> - any person
    in the Union explicitly designated by the controller to be addressed by the supervisory authorities.</p>
    <p><strong>Right to be Forgotten</strong>
    - also known as Data Erasure, it entitles the data subject to have the data controller erase his/her personal data, cease
    further dissemination of the data, and potentially have third parties cease processing of the data.</p>
    <p><strong>Right to Access</strong> -
    also known as Subject Access Right, it entitles the data subject to have access to and information about the personal
    data that a controller has concerning them.</p>
    <p><strong>Subject Access Right</strong> - also known as the Right to Access, it entitles the
    data subject to have access to and information about the personal data that a controller has concerning them.</p>
    <p><strong>Supervisory
    Authority</strong> - a public authority which is established by a member state in accordance with article 46.</p>


			</div>
		</div>
	</div>
</div>

{% endblock %}